<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="" method="post">
      <label for="etunimi">Etunimi:</label><input type="text" name="etunimi" id="etunimi" required>
      <label for="sukunimi">Sukunimi:</label><input type="text" name="sukunimi" id="sukunimi">
      <input type="submit" value="Lähetä">
    </form>
    <p>List of users:</p>
    <ul>
        <% users.forEach( user => { user = user.dataValues; %>
            <li><%= user.firstName %> <%= user.lastName %></li>
        <% }) %>
    </ul>

  </body>
</html>