<%- include('partials/head.ejs', { otsikko: 'Yhteystiedot'}) %>

<%- include('partials/header.ejs') %>

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-7">
                    <form action="" class="box content" method="post">
                        <div class="field has-text-centered">
                            <img src="/kuvat/DjangoKauppa_Logo_400.png" width="167">
                        </div>

                        <% if (Object.entries(lomakeErrors).length) { %>
                            <div class="notification is-danger is-light">
                                <p>Something went wrong. Please check all the fields and send the form again!</p>
                            </div>
                        <% } %>
                        <p>
                            <label for="id_username">Käyttäjätunnus:</label><br>
                            <input class="input <% if (lomakeErrors.käyttäjätunnus) { %>is-danger<% } %>" type="text" name="käyttäjätunnus" maxlength="150" autofocus required id="id_username" value="<%= lomakeTiedot.käyttäjätunnus %>">
                            <% if (lomakeErrors.käyttäjätunnus) { %>
                                <p class="help is-danger"><%= lomakeErrors.käyttäjätunnus %></p>
                            <% } %>
                            <small style="color: grey">Vaaditaan. Enintään 150 merkkiä. Vain kirjaimet, numerot ja @/./+/-/_ ovat sallittuja.</small>
                        </p>
                        
                        <p>
                            <label for="id_first_name">Etunimi:</label><br>
                            <input class="input <% if (lomakeErrors.etunimi) { %>is-danger<% } %>" type="text" name="etunimi" maxlength="30" id="id_first_name" value="<%= lomakeTiedot.etunimi %>">
                            <% if (lomakeErrors.etunimi) { %>
                                <p class="help is-danger"><%= lomakeErrors.etunimi %></p>
                            <% } %>
                            
                            <small style="color: grey">Etunimi</small>
                        </p>
                        
                        <p>
                            <label for="id_last_name">Sukunimi:</label><br>
                            <input class="input <% if (lomakeErrors.sukunimi) { %>is-danger<% } %>" type="text" name="sukunimi" maxlength="30" id="id_last_name" value="<%= lomakeTiedot.sukunimi %>">
                            <% if (lomakeErrors.sukunimi) { %>
                                <p class="help is-danger"><%= lomakeErrors.sukunimi %></p>
                            <% } %>
                            
                            <small style="color: grey">Sukunimi</small>
                        </p>
                        
                        <p>
                            <label for="id_email">Sähköposti:</label><br>
                            <input class="input <% if (lomakeErrors.sähköposti) { %>is-danger<% } %>" type="email" name="sähköposti" maxlength="254" required id="id_email" value="<%= lomakeTiedot.sähköposti %>">
                            <% if (lomakeErrors.sähköposti) { %>
                                <p class="help is-danger"><%= lomakeErrors.sähköposti %></p>
                            <% } %>
                            
                            <br><small style="color: grey">Laita oikea sähköpostiosoittetta</small>
                        </p>
                        
                        <p>
                            <label for="id_password1">Salasana:</label><br>
                            <input class="input <% if (lomakeErrors.salasana1) { %>is-danger<% } %>" type="password" name="salasana1" autocomplete="new-password" required id="id_password1">
                            <% if (lomakeErrors.salasana1) { %>
                                <p class="help is-danger"><%= lomakeErrors.salasana1 %></p>
                            <% } %>
                            
                            <br><small style="color: grey"><ul><li>Salasanasi ei voi olla liian samankaltainen muiden tietojesi kanssa.</li><li>Salasanasi tulee sisältää ainakin 8 merkkiä.</li><li>Salasanasi ei voi olla yleisesti käytetty salasana.</li><li>Salasanasi ei voi olla kokonaan numeerinen.</li></ul></small>
                        </p>
                        
                        <p>
                            <label for="id_password2">Salasanan vahvistaminen:</label><br>
                            <input type="password" name="salasana2" autocomplete="new-password" required id="id_password2">
                            
                            <br><small style="color: grey">Syötä sama salasana tarkistuksen vuoksi toistamiseen.</small>
                        </p>

                        <div class="field">
                            <button class="button is-success">Rekisteröi</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/footer.ejs') %>